:root {
  --primary-color: #6c63ff;
  --secondary-color: #f8f9fa;
  --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

body {
  margin: 60px auto;
}
.background {
  background-color: rgb(235, 235, 235);
  text-align: center;
  padding: 20px 0px 0px 0px;
  background-image: url(/images/shape-gray.jpg);
}
.navbar-brand {
  font-family: "Bebas Neue", cursive;
}
.nav-item {
  font-family: "Rajdhani", sans-serif;
}

h1,
h3 {
  text-align: center;
}

h1 {
  font-family: "Bebas Neue", cursive;
  color: var(--secondary-color);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  font-family: "Rajdhani", sans-serif;
  line-height: 0;
}
.h1-about-me {
  margin-top: 100px;
  font-size: 96px;
}

.h1-home {
  padding-top: 70px;
  margin-top: 70px;
  font-size: 96px;
}
.h2-home {
  font-size: 48px;
}
.h3-header {
  color: aliceblue;
}
.container {
  margin-top: 30px;
}

p {
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}
.title {
  text-align: left;
  padding: 10px;
  font-family: "Bebas Neue", cursive;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  font-size: 20px;
  margin: 50px 20px 30px 20px;
  border-radius: 5px;
  padding: 13px 20px 10px 20px;
  text-decoration: none;

  font-family: "Bebas Neue", cursive;
}

.contact-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}
.contact-link:hover {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.title-links a {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);

  font-size: 18px;
  margin: 50px 0px 50px 10px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
}

.about-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.about-link:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
  transition: 0.7s;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 30px;
  padding: 50px;
}

.about-paragraphs p {
  margin: 10px;
}
.p-about-me {
  text-align: center;
  padding-top: 15px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.homepage-link {
  padding-top: 80px;
}
i {
  color: #6c63ff;
  display: none;
  font-size: 45px;
  text-align: center;
  padding: 70px 20px;
  margin: 20px 0px;
}
@media (max-width: 900px) {
  .project-description h2,
  p,
  a {
    text-align: center;
  }
  .title-links {
    text-align: center;
  }
}
.project-block {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 40px;
}
